.menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0, 0, 14);
  justify-content: space-around;
  height: 2.5em;
  width: 100%;
  top: 0%;
}

.link {
  text-decoration: wavy;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.div {
  color: rgb(122, 122, 255);
  /* border-style: solid; */
  height: 2em;
  border-radius: 0em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0.125em;
  border-radius: 0.5em;
}

.link :hover {
  background-color: rgb(122, 122, 255);
  color: rgb(0, 0, 14);
}
